<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" type="topic" id="picasa">

  <info>
    <link type="guide" xref="upload-to-web"/>
    <desc>Hochladen Ihrer Bilder zum PicasaWeb-Bilderdienst</desc>
  </info>

  <title>Picasa</title>

  <p>Um Fotos zu Picasa hochzuladen, benötigen Sie ein Picasa-Konto sowie einen aktiven Internetzugang. Außerdem muss die Picasa-<link xref="extensions">Erweiterung</link> installiert und aktiviert sein.</p>
  <steps>
    <item>
      <p>Select the photos you wish to upload.</p>
    </item>
    <item>
      <p>Click <guiseq><gui>Photo</gui><gui>Export To</gui>
      <gui>PicasaWeb...</gui></guiseq>.</p>
    </item>
    <item>
      <p>Add a gallery by clicking <gui>Add</gui> and supplying a username and
         password.</p>
    </item>j
    <item>
      <p>Select a gallery to export to, or click <gui>Add</gui> to create a new
         gallery.</p>
    </item>
    <item>
      <p>Click <gui>Export</gui>.</p>
    </item>
  </steps>
</page>
